@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta&display=swap');

:root {
    --main-color: black;
    font-family: 'Mukta', sans-serif;
}

body{
    max-width: 1050px;
    margin: auto;
}

header .logo {
    font-family: 'Krona One', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

header .menu-items {
    flex: 1;
    justify-content: space-around;
    display: none;
}

header .menu-items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header .menu-items a:hover {
    border: 1px solid var(--main-color);
}

main .presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1px;
    margin-top: 70px;
}

main .home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: wheat;
}

main .content{
    align-items: center;
    justify-content: space-around;
    margin: 30px ;
}

hr{
    color: blue;
    width: 50px;
    height: 2px;
    background-color: blue;
    margin-left: 0;
}
main .text{
 text-align: center;
 margin-top: 70px;
 margin-bottom: 70px;
}



.text hr{
    margin-left: 500px;
}

main .conect{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tone {
    margin-left: 30px;
    text-align: left;
}

main .service{
 text-align: center;
 margin-top: 70px;
 margin-bottom: 70px;
 background-color: rgba(5, 35, 100, 0.842);
}

.service hr {
    margin-left: 500px;
}


.object {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    text-align: center;
}

.objects {
    margin: 60px;
    background-color: rgba(136, 182, 252, 0.733);
    width: 275px;
    text-align: center;
}

.objectss {
    margin: 60px;
    background-color: rgba(136, 182, 252, 0.733);
    width: 275px;
    text-align: center;
}

.objectsss {
    margin: 60px;
    background-color: rgba(136, 182, 252, 0.733);
    width: 275px;
    text-align: center;
}

main .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    margin-bottom: 70px;
}

main .number {  
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

main .numbers {
    border: 5px solid white;
    color: white;
    background-color:rgba(3, 25, 71, 0.842);
    text-indent: 1em;
}

main .why {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 30px;
  background-color: rgba(235, 231, 231, 0.945);
}

.why hr {
    margin-left: 500px;
}

.desire {
    background-image: url(../img/desiree.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.desiretext {
    text-align: center;
    padding: 90px;
    padding-right: 700px;
}

.desire hr {
    margin-left: 100px;
}

.plan {
    text-align: center;
}

.plan hr {
    margin-left: 500px;
}

.page {
    background-color: rgb(26, 71, 170);
    margin-right: 20px;
}

.pageone {
    background-color: rgb(26, 71, 170);
    margin-right: 20px;
    margin-left: 20px;
}


.pagetwo {
    background-color: rgb(26, 71, 170);
    margin-left: 20px;
}

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.last {
    text-align: center;
}

.last hr {
    margin-left: 500px;
}

.team {
    text-align: center;
}

.team hr {
    margin-left: 500px;
}












main .map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.phone {
margin-left: 90px;
}

@media (min-width: 769px) {

    header .header-nav {
        display: flex;
    }

    header .menu-items { 
        display: flex;
        align-items: center
    }

}